# Log file
*.log

# python
__pycache__
*.egg-info
.venv
*.env
.pytest_cache
.mypy_cache
pip-wheel-metadata
dist
*.whl
_version.py
.python-version

# IDEs
.idea
*.swp

# datapane specific
*-service-account.json
*_key.json
dp-cache
dp-tmp-*
local-report-base*

# repo specific
test_proj*/
test_report*/
test_script*/
.ipynb_checkpoints
docs/**/*.md.tmp

# macOS internals
.DS_Store
