/**
  * Default styles for HTML block
  */

body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.doc-root {
    overflow-x: auto;
    width: 100%;
}
