from http.server import HTTPServer, SimpleHTTPRequestHandler

hostname = "{{ host }}"
port = {{port}}


class DPServer(SimpleHTTPRequestHandler):
    def end_headers(self):
        if self.path.startswith("/static") and not self.path.endswith(".js"):
            self.send_header("Content-Encoding", "gzip")
        SimpleHTTPRequestHandler.end_headers(self)


if __name__ == "__main__":
    server = HTTPServer((hostname, port), DPServer)
    print(f"Server started at {hostname}:{port}")

    try:
        server.serve_forever()
    except KeyboardInterrupt:
        pass

    server.server_close()
    print("Server stopped")
