from http.server import HTTPServer, SimpleHTTPRequestHandler

hostname = "{{ host }}"
port = {{port}}


class DPServer(SimpleHTTPRequestHandler):
    def end_headers(self):
        print("PATH::")
        print(self.path)
        self.send_my_headers()
        SimpleHTTPRequestHandler.end_headers(self)

    def send_my_headers(self):
        self.send_header("Content-Encoding", "gzip")


if __name__ == "__main__":
    server = HTTPServer((hostname, port), DPServer)
    print(f"Server started at {hostname}:{port}")

    try:
        server.serve_forever()
    except KeyboardInterrupt:
        pass

    server.server_close()
    print("Server stopped")
